{% extends 'base.html' %}
{% load static %}
{% load post_tags %}
{% block title %}Meu Perfil{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'stylesCSS/style.css'%}">
    <link rel="stylesheet" href="{% static 'stylesCSS/stylePerfil.css'%}">
{% endblock css %}

{% block content %}
{% header request %}


<section>
    <nav>
        <input class="menu_user_bnt" type="checkbox">
        {% menu_user request %}
        <script>
            link = document.getElementById('info_pessoal')
            link.classList.add('active')
        </script>
    </nav>
</section>


<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="box-color-lr">
                    {% if not request.user.foto_usuario %}
                        <img src="{% static 'imagens/user.png' %}" alt="">
                    {% elif request.user.foto_usuario != None %}
                        <img src="{{request.user.foto_usuario.url}}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="box-color-cz">
                    <div>
                        <h5>Informações de contato</h5>
                    </div>
                    <hr>
                    <div>
                        <h3>Nome</h3>
                        <p>{{request.user.nome}}</p>
                    </div>
                    <div>
                        <h3>Email</h3>
                        <p>{{request.user.email}}</p>

                    </div>
                    <div>
                        <h3>Telefone</h3>
                        <p>{{request.user.telefone}}</p>
                    </div>
                    <div>
                        <h3>CEP</h3>
                        <p>{{request.user.endereco.cep}}</p>
                    </div>
                    <div class="buttons_user_edd">
                        {% btn_atualizar request %}
                        <a href="{% url 'editar_perfil' %}"><button>Editar Perfil</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% footer %}


{% endblock content %}


    
