{% extends 'base.html' %}
{% load static %}
{% load post_tags %}
{% block title %}Roupa{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'stylesCSS/style.css' %}">
    <link rel="stylesheet" href="{% static 'stylesCSS/gerenciador.css' %}">
    <link rel="stylesheet" href="{% static 'stylesCSS/styleLojasC.css' %}"> 
{% endblock css %}

{% block content %}

{% header request %}


<div class="l-container">
    <div class="c-container-roupa">

        <img class="c-container-roupa__ropa"
            src="{{roupa.foto.url}}" alt="">

        <div class="c-container-roupa__informacoes">
            <div class="c-container-ropa__loja">
                <a href=""><img src="{{loja.logo_loja.url}}" alt=""></a>
                <a href="">
                    <h1>{{loja.nome_loja}}</h1>
                </a>
            </div>

            <p>{{roupa.nome_roupa}}</p>

            <p class="preco"> R${{roupa.preco}} </p>

            <div class="conttt" style="width: 60%;">
                {% if roupa.categoria.tipo_tamanho.nome_tipo == 'Letra' %}
                    <button class="bnt_tamanho {% if roupa.t1 < 1 or not roupa.t1 %} nao_tem {% else %}tem{% endif %}" disabled>PP</button>
                    <button class="bnt_tamanho {% if roupa.t2 < 1 or not roupa.t2 %} nao_tem {% else %}tem{% endif %}" disabled>P</button>
                    <button class="bnt_tamanho {% if roupa.t3 < 1 or not roupa.t3 %} nao_tem {% else %}tem{% endif %}" disabled>M</button>
                    <button class="bnt_tamanho {% if roupa.t4 < 1 or not roupa.t4 %} nao_tem {% else %}tem{% endif %}" disabled>G</button>
                    <button class="bnt_tamanho {% if roupa.t5 < 1 or not roupa.t5 %} nao_tem {% else %}tem{% endif %}" disabled>GG</button>
                    <button class="bnt_tamanho {% if roupa.t6 < 1 or not roupa.t6 %} nao_tem {% else %}tem{% endif %}" disabled>XG</button>
                {% elif roupa.categoria.tipo_tamanho.nome_tipo == 'Numero' %}
                    <button class="bnt_tamanho {% if roupa.t1 < 1 or not roupa.t1 %} nao_tem {% else %}tem{% endif %}" disabled>34</button>
                    <button class="bnt_tamanho {% if roupa.t2 < 1 or not roupa.t2 %} nao_tem {% else %}tem{% endif %}" disabled>35</button>
                    <button class="bnt_tamanho {% if roupa.t3 < 1 or not roupa.t3 %} nao_tem {% else %}tem{% endif %}" disabled>36</button>
                    <button class="bnt_tamanho {% if roupa.t4 < 1 or not roupa.t4 %} nao_tem {% else %}tem{% endif %}" disabled>37</button>
                    <button class="bnt_tamanho {% if roupa.t5 < 1 or not roupa.t5 %} nao_tem {% else %}tem{% endif %}" disabled>38</button>
                    <button class="bnt_tamanho {% if roupa.t6 < 1 or not roupa.t6 %} nao_tem {% else %}tem{% endif %}" disabled>39+</button>
                {% endif %}
            </div>
            
            {% comment %} {% if roupa.categoria.tipo_tamanho.nome_tipo == "Letra" %}
                <div class="conttt" style="width: 60%;">
                    <button class="bnt_tamanho {% if roupa.pp < 1 or not roupa.pp %}nao_tem{% else %}tem{% endif %}" {% if roupa.pp < 1 or not roupa.pp %}disabled{% endif %}>PP</button>
                    <button class="bnt_tamanho {% if roupa.p < 1 or not roupa.p %}nao_tem{% else %}tem{% endif %}" {% if roupa.pp < 1 or not roupa.p %}disabled{% endif %}>P</button>
                    <button class="bnt_tamanho {% if roupa.m < 1 or not roupa.m %}nao_tem{% else %}tem{% endif %}" {% if roupa.pp < 1 or not roupa.m %}disabled{% endif %}>M</button>
                    <button class="bnt_tamanho {% if roupa.g < 1 or not roupa.g %}nao_tem{% else %}tem{% endif %}" {% if roupa.pp < 1 or not roupa.g %}disabled{% endif %}>G</button>
                    <button class="bnt_tamanho {% if roupa.gg < 1 or not roupa.gg %}nao_tem{% else %}tem{% endif %}" {% if roupa.gg < 1 or not roupa.gg %}disabled{% endif %}>GG</button>
                    <button class="bnt_tamanho {% if roupa.xg < 1 or not roupa.xg %}nao_tem{% else %}tem{% endif %}" {% if roupa.xg < 1 or not roupa.xg %}disabled{% endif %}>XG</button>
                </div>
            {% elif roupa.categoria.tipo_tamanho.nome_tipo == "Numero" %}
                <div class="conttt" style="width: 60%;">
                    <button class="bnt_tamanho {% if roupa.t1 < 1 or not roupa.t1 %}nao_tem{% else %}tem{% endif %}" {% if roupa.t1 < 1 or not roupa.t1 %}disabled{% endif %}>34</button>
                    <button class="bnt_tamanho {% if roupa.t2 < 1 or not roupa.t2 %}nao_tem{% else %}tem{% endif %}" {% if roupa.t2 < 1 or not roupa.t2 %}disabled{% endif %}>35</button>
                    <button class="bnt_tamanho {% if roupa.t3 < 1 or not roupa.t3 %}nao_tem{% else %}tem{% endif %}" {% if roupa.t3 < 1 or not roupa.t3 %}disabled{% endif %}>36</button>
                    <button class="bnt_tamanho {% if roupa.t4 < 1 or not roupa.t4 %}nao_tem{% else %}tem{% endif %}" {% if roupa.t4 < 1 or not roupa.t4 %}disabled{% endif %}>37</button>
                    <button class="bnt_tamanho {% if roupa.t5 < 1 or not roupa.t5 %}nao_tem{% else %}tem{% endif %}" {% if roupa.t5 < 1 or not roupa.t5 %}disabled{% endif %}>38</button>
                    <button class="bnt_tamanho {% if roupa.t6 < 1 or not roupa.t6 %}nao_tem{% else %}tem{% endif %}" {% if roupa.t6 < 1 or not roupa.t6 %}disabled{% endif %}>39+</button>
                </div>
            {% endif %} {% endcomment %}
            

            <!-- ou -->

            <br>
            <button style="width: 60%;" type="button" class="addList" onclick="openModal('mod')">Adicionar a lista</button>

        </div>

    </div>
</div>

<div class="l-modal_add" id="mod" style="z-index: 1; height: 85vh; transition: 0.5s ease-in-out;">
    <div class="container" id="categorias">
        <div class="row">
            <div class="col-12">
                <h2 style="text-align: left">Adicionar ao pacote da loja {{loja.nome_loja}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h5 style="margin-top: 15px; margin-bottom: 15px;">Tamanhos Disponíveis</h5>

                <!-- ou ps(ta com display none)-->
                <div class="conttt" style="width: 100%;">
                    {% if roupa.categoria.tipo_tamanho.nome_tipo == 'Letra' %}
                        <button class="bnt_tamanho {% if roupa.t1 < 1 or not roupa.t1 %}nao_tem {% else %}tem{% endif %}" disabled>PP</button>
                        <button class="bnt_tamanho {% if roupa.t2 < 1 or not roupa.t2 %}nao_tem {% else %}tem{% endif %}" disabled>P</button>
                        <button class="bnt_tamanho {% if roupa.t3 < 1 or not roupa.t3 %}nao_tem {% else %}tem{% endif %}" disabled>M</button>
                        <button class="bnt_tamanho {% if roupa.t4 < 1 or not roupa.t4 %}nao_tem {% else %}tem{% endif %}" disabled>G</button>
                        <button class="bnt_tamanho {% if roupa.t5 < 1 or not roupa.t5 %}nao_tem {% else %}tem{% endif %}" disabled>GG</button>
                        <button class="bnt_tamanho {% if roupa.t6 < 1 or not roupa.t6 %}nao_tem {% else %}tem{% endif %}" disabled>XG</button>
                    {% elif roupa.categoria.tipo_tamanho.nome_tipo == 'Numero' %}
                        <button class="bnt_tamanho {% if roupa.t1 < 1 or not roupa.t1 %}nao_tem {% else %}tem{% endif %}" disabled>34</button>
                        <button class="bnt_tamanho {% if roupa.t2 < 1 or not roupa.t2 %}nao_tem {% else %}tem{% endif %}" disabled>35</button>
                        <button class="bnt_tamanho {% if roupa.t3 < 1 or not roupa.t3 %}nao_tem {% else %}tem{% endif %}" disabled>36</button>
                        <button class="bnt_tamanho {% if roupa.t4 < 1 or not roupa.t4 %}nao_tem {% else %}tem{% endif %}" disabled>37</button>
                        <button class="bnt_tamanho {% if roupa.t5 < 1 or not roupa.t5 %}nao_tem {% else %}tem{% endif %}" disabled>38</button>
                        <button class="bnt_tamanho {% if roupa.t6 < 1 or not roupa.t6 %}nao_tem {% else %}tem{% endif %}" disabled>39+</button>
                    {% endif %}
                </div>
                

                <!-- ou ps(ta com display none)-->

                <h5 style="margin-top: 15px; margin-bottom: 15px;">Quantidade em Estoque ( Por tamanho )</h5>
                <div class="conttt" style="width: 100%;">
                    {% if roupa.categoria.tipo_tamanho.nome_tipo == 'Letra' %}
                        <button class="bnt_tamanho {% if roupa.t1 < 1 or not roupa.t1 %}nao_tem {% else %}tem{% endif %}" disabled>{{roupa.t1}}</button>
                        <button class="bnt_tamanho {% if roupa.t2 < 1 or not roupa.t2 %}nao_tem {% else %}tem{% endif %}" disabled>{{roupa.t2}}</button>
                        <button class="bnt_tamanho {% if roupa.t3 < 1 or not roupa.t3 %}nao_tem {% else %}tem{% endif %}" disabled>{{roupa.t3}}</button>
                        <button class="bnt_tamanho {% if roupa.t4 < 1 or not roupa.t4 %}nao_tem {% else %}tem{% endif %}" disabled>{{roupa.t4}}</button>
                        <button class="bnt_tamanho {% if roupa.t5 < 1 or not roupa.t5 %}nao_tem {% else %}tem{% endif %}" disabled>{{roupa.t5}}</button>
                        <button class="bnt_tamanho {% if roupa.t6 < 1 or not roupa.t6 %}nao_tem {% else %}tem{% endif %}" disabled>{{roupa.t6}}</button>
                    {% elif roupa.categoria.tipo_tamanho.nome_tipo == 'Numero' %}
                    <button class="bnt_tamanho {% if roupa.t1 < 1 or not roupa.t1 %}nao_tem {% else %}tem{% endif %}" disabled>{{roupa.t1}}</button>
                    <button class="bnt_tamanho {% if roupa.t2 < 1 or not roupa.t2 %}nao_tem {% else %}tem{% endif %}" disabled>{{roupa.t2}}</button>
                    <button class="bnt_tamanho {% if roupa.t3 < 1 or not roupa.t3 %}nao_tem {% else %}tem{% endif %}" disabled>{{roupa.t3}}</button>
                    <button class="bnt_tamanho {% if roupa.t4 < 1 or not roupa.t4 %}nao_tem {% else %}tem{% endif %}" disabled>{{roupa.t4}}</button>
                    <button class="bnt_tamanho {% if roupa.t5 < 1 or not roupa.t5 %}nao_tem {% else %}tem{% endif %}" disabled>{{roupa.t5}}</button>
                    <button class="bnt_tamanho {% if roupa.t6 < 1 or not roupa.t6 %}nao_tem {% else %}tem{% endif %}" disabled>{{roupa.t6}}</button>
                    {% endif %}
                </div>

                <form action="" method="POST" class="form-add">
                    <h5 style="margin-top: 15px; margin-bottom: 15px;">Quantidade desejada ( Por tamanho )</h5>
                    {% if roupa.categoria.tipo_tamanho.nome_tipo == "Letra" %}
                        <div class="conttt" style="width: 100%;">
                            <input class="bnt_tamanho {% if roupa.t1 < 1 or not roupa.t1%}nao_tem{% else %}tem esseprodutotem" data-size="PP" {% endif %} style="padding-left: 5px" type="number" {% if roupa.t1 < 1 or not roupa.t1 %}disabled{% endif %} min="0" max="{{roupa.t1}}" value="0">
                            <input class="bnt_tamanho {% if roupa.t2 < 1 or not roupa.t2%}nao_tem{% else %}tem esseprodutotem" data-size="P" {% endif %} style="padding-left: 5px" type="number" {% if roupa.t2 < 1 or not roupa.t2 %}disabled{% endif %} min="0" max="{{roupa.t2}}" value="0">
                            <input class="bnt_tamanho {% if roupa.t3 < 1 or not roupa.t3%}nao_tem{% else %}tem esseprodutotem" data-size="M" {% endif %} style="padding-left: 5px" type="number" {% if roupa.t3 < 1 or not roupa.t3 %}disabled{% endif %} min="0" max="{{roupa.t3}}" value="0">
                            <input class="bnt_tamanho {% if roupa.t4 < 1 or not roupa.t4%}nao_tem{% else %}tem esseprodutotem" data-size="G" {% endif %} style="padding-left: 5px" type="number" {% if roupa.t4 < 1 or not roupa.t4 %}disabled{% endif %} min="0" max="{{roupa.t4}}" value="0">
                            <input class="bnt_tamanho {% if roupa.t5 < 1 or not roupa.t5%}nao_tem{% else %}tem esseprodutotem" data-size="GG" {% endif %} style="padding-left: 5px" type="number" {% if roupa.t5 < 1 or not roupa.t5 %}disabled{% endif %} min="0" max="{{roupa.t5}}" value="0">
                            <input class="bnt_tamanho {% if roupa.t6 < 1 or not roupa.t6%}nao_tem{% else %}tem esseprodutotem" data-size="XG" {% endif %} style="padding-left: 5px" type="number" {% if roupa.t6 < 1 or not roupa.t6 %}disabled{% endif %} min="0" max="{{roupa.t6}}" value="0">
                        </div>
                    {% elif roupa.categoria.tipo_tamanho.nome_tipo == "Numero" %}
                    <div class="conttt" style="width: 100%;">
                        <input class="bnt_tamanho {% if roupa.t1 < 1 or not roupa.t1%}nao_tem{% else %}tem esseprodutotem" data-size="34"{% endif %} style="padding-left: 5px" type="number" {% if roupa.t1 < 1 or not roupa.t1%}disabled{% endif %} min="0" max="{{roupa.t1}}" value="0">
                        <input class="bnt_tamanho {% if roupa.t2 < 1 or not roupa.t2%}nao_tem{% else %}tem esseprodutotem" data-size="35"{% endif %} style="padding-left: 5px" type="number" {% if roupa.t2 < 1 or not roupa.t2%}disabled{% endif %} min="0" max="{{roupa.t2}}" value="0">
                        <input class="bnt_tamanho {% if roupa.t3 < 1 or not roupa.t3%}nao_tem{% else %}tem esseprodutotem" data-size="36"{% endif %} style="padding-left: 5px" type="number" {% if roupa.t3 < 1 or not roupa.t3%}disabled{% endif %} min="0" max="{{roupa.t3}}" value="0">
                        <input class="bnt_tamanho {% if roupa.t4 < 1 or not roupa.t4%}nao_tem{% else %}tem esseprodutotem" data-size="37"{% endif %} style="padding-left: 5px" type="number" {% if roupa.t4 < 1 or not roupa.t4%}disabled{% endif %} min="0" max="{{roupa.t4}}" value="0">
                        <input class="bnt_tamanho {% if roupa.t5 < 1 or not roupa.t5%}nao_tem{% else %}tem esseprodutotem" data-size="38"{% endif %} style="padding-left: 5px" type="number" {% if roupa.t5 < 1 or not roupa.t5%}disabled{% endif %} min="0" max="{{roupa.t5}}" value="0">
                        <input class="bnt_tamanho {% if roupa.t6 < 1 or not roupa.t6%}nao_tem{% else %}tem esseprodutotem" data-size="39+"{% endif %} style="padding-left: 5px" type="number" {% if roupa.t6 < 1 or not roupa.t6%}disabled{% endif %} min="0" max="{{roupa.t6}}" value="0">
                    </div>
                    {% endif %}
                    
                    <br>

                    <div class="row">

                        <div class="col-12">
                            <button style="background-color: #FFA41C; width: 100%;" type="submit" data-id="{{ roupa.pk }}" data-lojaid="{{loja.pk}}" class="addList addButton">ADICIONAR</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12">
                        <button onclick="closeModal('mod')" type="button" class="addList" style="width: 100%;">CANCELAR</button>
                    </div>
                </div>
            </div>

            <div class="col-2"></div>
            
            <div class="col-4" style="padding-top: 30px">
                <img src="{{roupa.foto.url}}" class="c-iimg-modal" alt="">
            </div>
        </div>
    </div>
</div>

<script>
    x = 0;
    function add(element) {
        if (x % 2 == 0) {
            document.getElementById(element).style.left = '10%';
            x = x + 1;
        } else {
            document.getElementById(element).style.left = '-100%';
            x = x + 1;

            document.getElementById('categorias').style.display = 'block';
            document.getElementById('form01').style.display = 'none';
        }
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% footer %}
{% endblock content %}
{% block scripts %}
<script src="{% static 'script/cart.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% endblock scripts %}

