{% load static %}
{% load mathfilters %}

{% for roupa in roupas %}
<div class="c-card-colection">
    <img src="{{roupa.foto.url}}" alt="">
    <div class="c-card-colection__infos">
        <h3>{{roupa.nome_roupa}}</h3>
        <p>QTD: {{roupa.t1|add:roupa.t2|add:roupa.t3|add:roupa.t4|add:roupa.t5|add:roupa.t6}}</p>
        <div class="conttt">
            {% if roupa.categoria.tipo_tamanho.nome_tipo == 'Letra' %}
            <button class="bnt_tamanho_2 {% if roupa.t1 < 1 or not roupa.t1 %}nao_tem {% else %}tem{% endif %}" disabled>PP</button>
            <button class="bnt_tamanho_2 {% if roupa.t2 < 1 or not roupa.t2 %}nao_tem {% else %}tem{% endif %}" disabled>P</button>
            <button class="bnt_tamanho_2 {% if roupa.t3 < 1 or not roupa.t3 %}nao_tem {% else %}tem{% endif %}" disabled>M</button>
            <button class="bnt_tamanho_2 {% if roupa.t4 < 1 or not roupa.t4 %}nao_tem {% else %}tem{% endif %}" disabled>G</button>
            <button class="bnt_tamanho_2 {% if roupa.t5 < 1 or not roupa.t5 %}nao_tem {% else %}tem{% endif %}" disabled>GG</button>
            <button class="bnt_tamanho_2 {% if roupa.t6 < 1 or not roupa.t6 %}nao_tem {% else %}tem{% endif %}" disabled>XG</button>
            {% elif roupa.categoria.tipo_tamanho.nome_tipo == 'Numero' %}
            <button class="bnt_tamanho_2 {% if roupa.t1 < 1 or not roupa.t1 %}nao_tem {% else %}tem{% endif %}" disabled>34</button>
            <button class="bnt_tamanho_2 {% if roupa.t2 < 1 or not roupa.t2 %}nao_tem {% else %}tem{% endif %}" disabled>35</button>
            <button class="bnt_tamanho_2 {% if roupa.t3 < 1 or not roupa.t3 %}nao_tem {% else %}tem{% endif %}" disabled>36</button>
            <button class="bnt_tamanho_2 {% if roupa.t4 < 1 or not roupa.t4 %}nao_tem {% else %}tem{% endif %}" disabled>37</button>
            <button class="bnt_tamanho_2 {% if roupa.t5 < 1 or not roupa.t5 %}nao_tem {% else %}tem{% endif %}" disabled>38</button>
            <button class="bnt_tamanho_2 {% if roupa.t6 < 1 or not roupa.t6 %}nao_tem {% else %}tem{% endif %}" disabled>39+</button>
            {% endif %}
        </div>
        <div class="c-barraBaixa">
            <p>Add: {{roupa.data_adicao}}</p>
            <div class="c-bnts-barraBaixa">
                <button class="c-bnts-barraBaixa__edt">
                    <img src="{% static 'imagens/editar.png' %}" alt="">
                </button>
                <a href="{% url 'deletar_roupa' colecao.pk roupa.pk  %}">
                    <button class="c-bnts-barraBaixa__exc">
                        <img src="{% static 'imagens/lixeira.png' %}" alt="">
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
